installertest/work
installertest/testout
cw64bld
ftest/testout
ftest/testoutpy
aaltest/a1/testout
aaltest/a1/work
disaggregation/testout
aaltest/a2/testout
aaltest/a2/work
validationtest/testout
compute_info_0.npy
node_parents_array_0.npy
node_profiles_array_0.npy
nodes_array_0.npy
output_array_0.npy
compute_info_1.npy
node_parents_array_1.npy
node_profiles_array_1.npy
nodes_array_1.npy
output_array_1.npy
compute_info_2.npy
node_parents_array_2.npy
node_profiles_array_2.npy
nodes_array_2.npy
output_array_2.npy
fm_profile.npy